<ion-header>
  <ion-navbar>
    <ion-title>
      {{ toogleHeader }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="viewSearch">
		<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

		<ion-list inset>
			<button ion-item *ngFor="let item of searchResult" (click)="objectSelected(item)">
			{{ item.label }}
			</button> 
		</ion-list>
  
    </div>

	<div *ngIf="!viewSearch">
	    <ion-list *ngFor="let rec of records">
		  <ion-item-sliding #item>

		    <ion-item>
		      <ion-icon name="ios-arrow-dropright" item-start></ion-icon>
		          <h2>{{ rec.Name }}</h2>
                  <p>{{ rec.BillingStreet }}</p>
		      <ion-icon name="ios-arrow-dropleft" item-end></ion-icon>
		    </ion-item>

		    <ion-item-options side="left">
		        <button ion-button icon-only large clear (click)="delete(rec)">
			      <ion-icon color="danger" name="md-trash"></ion-icon>
			    </button>
		    </ion-item-options>

		    <ion-item-options side="right">
		        <button ion-button icon-only large clear (click)="edit(rec)">
		          <ion-icon color="secondary" name="ios-create"></ion-icon>
		        </button>
		    </ion-item-options>

		  </ion-item-sliding>
		</ion-list>
		
	</div>

</ion-content>



