<ion-header>
  <ion-navbar>
    <ion-title>
      {{ toogleHeader }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="viewSearch">
  
		<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

		<ion-list inset>
			<button ion-item *ngFor="let item of searchResult" (click)="objectSelected(item)">
			{{ item.label }} - {{ item.name }}
			</button> 
		</ion-list>
  
    </div>

	<div *ngIf="!viewSearch">
	  <button ion-button block color="light" (click)="viewSearch = true">Volver a elegir</button>    
      <button ion-button block color="primary">Sync</button>
      <button ion-button block color="secondary" (click)="goToForm()">Alta</button>
      <button ion-button block color="dark">Lista</button>
		
       
	  <ion-item>
		  <ion-icon name="logo-twitter" item-start></ion-icon>
		  Followers
		  <ion-badge item-end>260k</ion-badge>
	  </ion-item>
	</div>

</ion-content>



