<ion-header>
  <ion-navbar>
    <ion-title>
      Metadata Objects
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="viewSearch">
		<button  ion-button block (click)="login()">Login</button>
		<ion-searchbar *ngIf="metaObjects != null && metaAccount != '' "  (ionInput)="getItems($event)">
		</ion-searchbar>

		<ion-list inset>
		  <button ion-item *ngFor="let item of searchResult" (click)="objectSelected(item)">
		    {{ item.label }} - {{ item.name }}
		  </button> 
		</ion-list>
    </div>

	<div *ngIf="!viewSearch">
        <button ion-button block (click)="viewSearch = true">Volver</button>
       
	    <ion-item>
		  <ion-icon name="logo-twitter" item-start></ion-icon>
		  Followers
		  <ion-badge item-end>260k</ion-badge>
		</ion-item>
	</div>

</ion-content>



